<div class="container">
  <div class="container-fluid">
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">country</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cus of Customer">
          <th>{{cus.customerNo}}</th>
          <td>{{cus.name}}</td>
          <td>{{cus.address}}</td>
          <td>{{cus.city}}</td>
          <td>{{cus.country}}</td>
          <td class="text text-sm text-info" (click)="selectnameCustomer=cus">Select </td>
        </tr>
      </tbody>
    </table>
    <input type="text" name="" class="form-control" placeholder="Here You Selected: " #cus id="" {{cus.selectnameCustomer.name}}>

  </div>
</div>
