<div class="container">
  <div class="container-fluid">
    <table class="table table-bordered border-primary table-hover mt-4">
      <thead>
        <tr class="text text-center">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">country</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cus of Customer" class="text text-center">
          <th>{{ cus.customerNo }}</th>
          <td>{{ cus.name }}</td>
          <td>{{ cus.address }}</td>
          <td>{{ cus.city }}</td>
          <td>{{ cus.country }}</td>
          <td>
            <button
              class="btn btn-sm btn-info"
              (click)="selectnameCustomer = cus"
            >
              Select
            </button>
          </td>
        </tr>
        <h1>


        </h1>
      </tbody>
    </table>
    <input type="text" name="" class="form-control" id="" value="{{ selectnameCustomer.customerNo }} {{ selectnameCustomer.name }} {{ selectnameCustomer.address }} {{ selectnameCustomer.city }}"/>
  </div>
</div>
<app-demoservice/>
