<div class="container">
  <div class="card" style="width: 18rem">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">JavaScript Course</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <!-- <a href="#" (click)="javascript()" class="btn btn-primary">Enroll</a> -->
      <button class="btn btn-primary
      " (click)="Onjs()">Enroll</button>
    </div>
  </div>
</div>
