<div class="container">
  <div class="row">
    <div class="lebal">{{ Display }}</div>
    Binding
    <input
      type="text"
      name=""
      class="form-control"
      id=""
      placeholder="Input Text Here"
      (input)="EventBindingChange($event)"
    />
  </div>

  <div class="row" [ngClass]="{changeBackground: TwoWayBinding != ''}">
    <input
      class="form-control"
      type="text"
      name=""
      id=""
      [(ngModel)]="TwoWayBinding"
    />
    <h1 *ngIf="TwoWayBinding != ''">Your Text Here :{{ TwoWayBinding }}</h1>
  </div>
</div>
