<div class="container">
  <div class="container-fluid">
    <table class="table table-bordered border-primary table-hover mt-4">
      <thead>
        <tr class="text text-center">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Gemder</th>
          <th scope="col">Address</th>
          <th scope="col">country</th>
          <th scope="col">Position</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text text-center">
          <th>001</th>
          <td>lo</td>
          <td>kfdsld</td>
          <td>dsaklfjds</td>
          <td>sdfssafsd</td>
          <td>jksdfjslkfjssl</td>
          <td>djklfjlsjd</td>
          <td>
            <button class="btn btn-sm ">delete</button>
          </td>
        </tr>
        <h1></h1>
      </tbody>
    </table>
  </div>
</div>
